.box {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    box-shadow: 4px 4px 2px #888888;
    transition: all 300ms;
}

.box:hover {
    height: 110px;
    width: 200px;
    background-color: cornflowerblue;
    box-shadow: 8px 8px 4px #888888;
}

.box:active {
    background-color: aqua;
}