body {
    margin: 0;
}

a {
    color:#bd8cde;
    text-decoration: none;
}

a:hover {
    color:blueviolet;
    font-size: 20px;
    text-decoration: underline;
}

a:active {
    color:aquamarine
}

a:visited {
    color: pink
}

a:focus {
    color: green;
}